[profile.ci]
# Do not cancel the test run on the first failure.
fail-fast = false
# Show all tests _including_ skipped tests in output.
status-level = "all"
# Output failures as soon as they happen _and_ at the end of the test run;
# combination of "immediate" and "final".
failure-output = "immediate-final"
# Any tests that take longer than 10 minutes should be killed as a failure
slow-timeout = { period = "60s", terminate-after = 10 }
# Skip the Python test on CI before we figure out why it failed.
default-filter = 'not test(test_runner_with_python)'

[test-groups]
# ensure only one test accessing tun at a time
tun-access = { max-threads = 1 }

[[profile.ci.overrides]]
filter = 'package(litebox_shim_linux) and test(test_tun)'
test-group = "tun-access"

[[profile.default.overrides]]
filter = 'package(litebox_shim_linux) and test(test_tun)'
test-group = "tun-access"

# For flaky tests on the CI, we attempt to re-run a couple of times before
# failing. We explicitly don't do this on the default non-CI profile, so that
# flakiness shows up on dev machines accurately, but it is annoying on the CI
# side, so we instead allow a few retry attempts.
[[profile.ci.overrides]]
filter = 'package(litebox_runner_linux_userland) and test(test_dynamic_lib_with_rewriter)'
retries = 2
[[profile.ci.overrides]]
filter = 'package(litebox_runner_linux_userland) and test(test_static_exec_with_rewriter)'
retries = 2
