name: Copilot Setup Steps
"on":
  pull_request:
    paths:
    - .github/workflows/copilot-setup-steps.yml
  push:
    paths:
    - .github/workflows/copilot-setup-steps.yml
  workflow_dispatch: null
jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install gh-aw extension
      uses: github/gh-aw/actions/setup-cli@v0.41.1
      with:
        version: v0.41.1
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Rust
      run: |
        rustup toolchain install $(awk -F'"' '/channel/{print $2}' rust-toolchain.toml) --profile minimal --no-self-update --component rustfmt,clippy
    - name: Set up Nextest
      run: "curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin\n"
    - name: Set up tun device for Linux userland testing
      run: |
        sudo ./litebox_platform_linux_userland/scripts/tun-setup.sh
