name: SemverChecks

# Run only on pull requests (or if triggered manually)
on: [pull_request, workflow_dispatch]

env:
  CARGO_TERM_COLOR: always

jobs:
  semver_checks:
    name: Check SemVer Correctness
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Ensure that the main branch is fetched
        run: git fetch origin main:main
      - name: Set up Rust
        run: |
          rustup toolchain install $(awk -F'"' '/channel/{print $2}' rust-toolchain.toml) --profile minimal --no-self-update
      - name: Set up cargo-semver-checks
        run: |
          curl -L --proto '=https' --tlsv1.2 -sSf https://github.com/obi1kenobi/cargo-semver-checks/releases/latest/download/cargo-semver-checks-x86_64-unknown-linux-gnu.tar.gz | tar xzvf -
          mv cargo-semver-checks ~/.cargo/bin
      - name: Check semver match against the main branch
        run: cargo semver-checks --baseline-rev main
